<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InboundCycle</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!-- Header -->
  <header>
    <!-- Logotype -->
    <img src="img/inboundcycle-logo.png" class="logotype" alt="InboundCycle">
    <!-- Social Icons -->
    <ul class="social-icons">
      <li>
        <a href="https://www.facebook.com/InboundCycle" target="_blank" title="Visita nuestra cuenta de Facebook de InboundCycle">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/inboundcycle" target="_blank" title="Visitar el Twitter de InboundCycle">
          <i class="fa fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/2387654" target="_blank" title="Visitar el LinkedIn de InboundCycle">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
    </ul>
  </header>
  <!-- Separator Image -->
  <div class="separator-image"></div>
  <!-- Container -->
  <div class="wrapper">
    <section>
      <!-- Ebook -->
      <img src="img/ebook.png" class="ebook" alt="E-book genérico de InboundCycle">
      <!-- Titles -->
      <h1>Lorem ipsum dolor sit amet elit consectetur adipiscing eu ipsum  porttitor ligula donec</h1>
      <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit eu porttitor ligula donec</h2>
      <!-- Body text -->
      <p>Duis blandit tempor facilisis. Curabitur ipsum turpis, <a href="#" title="Enlace de prueba">venenatis</a> et massa id, congue dignissim nibh. Praesent vitae justo vel metus faucibus vehicula. Donec vitae semper eros, et viverra leo. Quisque maximus semper mi, sit amet vehicula quam ultricies eu. Nullam euismod orci sed erat blandit vulputate nec vitae arcu. Integer nec imperdiet sem. Nullam a nibh rhoncus, tincidunt arcu eu, porta erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae semper eros, et viverra leo.</p>
      <!-- Emphasizes -->
      <div class="emphasizes">
        Rellena el formulario para descargar la guía <i class="fa fa-long-arrow-right"></i>
      </div>
    </section>
    <!-- Aside -->
    <aside>
      <!-- Download form -->
      <form action="post">
        <h3>Descargar e-book gratis</h3>
        <fieldset>
          <input type="text" name="name" placeholder="Nombre">
          <input type="text" name="surname" placeholder="Apellidos">
          <input type="email" name="email"  placeholder="Email">
        </fieldset>
        <fieldset>
          <label><input type="checkbox" name="legal"> Acepto la <a href="#" title="Lea nuestra política de privacidad">política de privacidad</a>*</label>
          <label><input type="checkbox" name="subscription"> Suscríbeme al blog</label>
        </fieldset>
        <button type="submit">Descargar</button>
      </form>
    </aside>
  </div>
  <!-- Footer -->
  <footer>
    <div class="footer-frame">
      <!-- Logotype -->
      <img src="img/inboundcycle-logo-small.png" class="logotype" alt="InboundCycle">
      <!-- Legal menu -->
      <nav>
        <ul>
          <li><a href="#" title="Lea nuestra política de privacidad">Política de Privacidad</a></li>
          <li><a href="#" title="Lea el aviso legal">Aviso Legal</a></li>
        </ul>
      </nav>
      <!-- Copyright -->
      <small>InboundCycle © 2015</small>
    </div>
  </footer>
  <!-- Pop-up -->
  <div class="popup">
    <div class="caption">
      <i class="fa fa-times"></i>
      <p>¡Muchas gracias!</p>
    </div>
  </div>
</body>